/*reset*/
html{
    font-size: 62.5%;
   
}
body{
    font: 1.6rem 'dosis', sans-serif;
    margin: 0;
}
h1, h2, h3{
    margin: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #222;
    text-align: center;
}
input{
    border: none;
}
*{
    box-sizing: border-box;
}

/*theme*/
:root{
    --color-default: #000;
    --color-warnig: rgb(200, 0, 0);
    --color-sucsess: rgb(0, 200, 0);
    --color-sublim: rgb(100, 100, 255);
    --color-facebook: rgb(0, 0, 128);
    --color-info: rgb(151, 151, 151);
}
main{
    max-width: 40rem;
    margin: 0 auto;
}
h2{
    text-align: center;
}
.form input, .form label, fieldset input, fieldset label{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.form input, fieldset input{
    border: solid .1rem #ccc;
    line-height: 3.5rem;
    padding: .5rem;
}
.form input[placeholder],fieldset input[placeholder]{
    font-size: 1.6rem;
}
section a, form input[type="button"]{
    display: block;
    font-size: large;
    color: #fff;
    background-color: var(--color-sublim);
}
p{
    text-align: center;
}
footer p, header p{
    line-height: 5rem;
}
#Facebook{
    color: var(--color-facebook);
}
.inscription{
    color: var(--color-sublim);
}