/*reset*/
html{
    font-size: 62.5%;
   
}
body{
    font: 1.6rem 'Monsterrat', sans-serif;
    margin: 0;
}
h1, h2, h3, ul{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
a, p{
    text-decoration: none;
    color: #222;
    text-align: center;
}
input{
    border: none;
}
*{
    box-sizing: border-box;
}

/*theme*/
:root{
    --color-default: #000;
    --color-warnig: rgb(200, 0, 0);
    --color-sucsess: rgb(0, 200, 0);
    --color-sublim: #3897f0;
    --color-facebook: rgb(0, 0, 128);
    --color-info: #ffffff;
    --color-input: #fafafa;
}
body{
    background-color: var(--color-input);
}
header p{
    color: #c8c8c8;
}
.insta{
    color: var(--color-default);
}
fieldset img, section img{
    width: 50%;
    margin: 2rem 9rem;
}
fieldset, section{
    max-width: 40rem;
    margin: .5rem auto;
    background-color: var(--color-info);
    border: solid .2rem #ccc;
}
fieldset input{
    display: block;
    width: 370px;
    margin-bottom: 1rem;
    border: solid .2rem #ccc;
    line-height: 3.5rem;
    padding: .5rem;
    background-color: var(--color-input);
}
fieldset input[placeholder]{
    font-size: 1.6rem;
}
section a, form input[type="submit"]{
    display: block;
    font-size: large;
    color: #fff;
    background-color: var(--color-sublim);
    border: solid .1rem #ccc;
}
.warning, .success{
    color: rgb(200,0,0);
    text-align: center;
    display: none;
}
.success{
    color: rgb(0,200,0);
    display: block;
}
hr {
    border: none;
    border-top: .3rem solid #ccc;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5rem;
    margin: 3rem auto 0;
}
hr:after {
    background: #fff;
    color: #ccc;
    content: "ou";
    font-size: 2rem;
    padding: 0 1rem;
    position: relative;
    top: -13px;
}
p{
    text-align: center;
}
footer p, header p{
    line-height: 5rem;
}
fieldset p img{
    margin: 0;
    width: 2rem;
    height: auto;
}
#instagram_icon{
    margin: 0 0.5rem 0 0;
    width: 2rem;
    height: auto;
}
#Facebook{
    color: var(--color-facebook);
}
.inscription{
    color: var(--color-sublim);
}
footer{
    max-width: 40rem;
    margin: 0 auto;
}
footer img{
    width: 49.4%;
    margin: 0 auto;
}
ul{
    border: solid 0.1rem #ccc;
    max-width: 80rem;
    margin: 2.0rem auto 1.0rem;
    background-color: #000;
    overflow: hidden;
    list-style-type: none;
    display: grid;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
}
ul li{
    width: 100%;
    color: rgb(133, 133, 133);
}
ul li:nth-child(2){
    padding: 1rem;
    font-size: larger;
}
ul li:nth-of-type(10){
    width: calc(100% / 1 - 11.0rem);
    margin: 0 auto;
}
ul li img{
    width: 100%;
    margin: 0 auto;
}
