/*reset*/
html{
    font-size: 62.5%;
   
}
body{
    font: 1.6rem 'dosis', sans-serif;
    margin: 0;
}
h1, h2, h3{
    margin: 0;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #222;
    text-align: center;
}
input{
    border: none;
}
*{
    box-sizing: border-box;
}

/*theme*/
:root{
    --color-default: #000;
    --color-warnig: rgb(200, 0, 0);
    --color-sucsess: rgb(0, 200, 0);
    --color-info: rgb(151, 151, 151);
}
main{
    max-width: 40rem;
    margin: 0 auto;
}
form{
    border: solid .1rem transparent;

}